<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>My weather app</title>
        <link rel="icon" type="image/png" href="img/favicon.ico">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/normalize.min.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
    <!--    <script id="weather-template" type="template">
            <h1 id="title"><%= title %></h1>
            <h2 id="today">Today is <span class="condition"><%= condition %></span></h2>
            <div id="forecast"><%= forecast %></div>
        </script>

        <script src="js/vendor/jquery-1.10.1.js"></script>
        <script src="js/vendor/underscore-min.js"></script>
        <script src="js/main.js"></script> -->
       <div class="container">
            <div class="content-wrapper">
                <nav>
                    <ul class="date-menu">
                        <li><a href="#">Today</a></li><li><a href="#">Tomorrow</a></li><li><a href="#">Wednesday</a></li>
                    </ul>
                </nav>
                <h1 class="location">London</h1>
                <h2 class="condition">Partly cloudy - 22&#176;</h2>
                <p class="description">Just enough <span class="highlighted">sun</span> to forget your <span class="highlighted">umbrella</span></p>
            </div>
        </div>
    </body>
</html>
